---
title: Ameya Joshi
timezone: Asia/Kolkata
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    comments: true
    social-share: true
- scope:
    path: ''
  values:
    layout: page
    show-avatar: true
url: http://ameya005.github.io
baseurl: ''
description: Computer Scientist
navbar-links:
  About Me: aboutme
  Resources:
  - Beautiful Jekyll: http://deanattali.com/beautiful-jekyll/
  - Learn markdown: http://www.markdowntutorial.com/
  - GitHub Pages: https://pages.github.com/
  Author's home: http://ameya005.github.io.com
author:
  name: Ameya Joshi
  email: ameya005@gmail.com
  facebook: ameya.ajoshi
  github: ameya005
  twitter: juggernot24
  linkedin: ameyaj005
footer-links-active:
  rss: false
  facebook: true
  email: true
  twitter: true
  github: true
  linkedin: true
  xing: false
  stackoverflow: false
  instagram: false
  youtube: false
share-links-active:
  twitter: true
  facebook: true
  google: false
  linkedin: true
disqus: ameya005-github-io
google_analytics: UA-82254442-1
markdown: kramdown
highlighter: rouge
permalink: "/:year-:month-:day-:title/"
paginate: 5
kramdown:
  input: GFM
link-tags: false
exclude:
- Gemfile
- Gemfile.lock
- LICENSE
- README.md
- CNAME
- Vagrantfile
- backup/
prose:
  rooturl: _posts
  media: img
  ignore:
  - 404.html
  - LICENSE
  - feed.xml
  - _config.yml
  - "/_layouts"
  - "/_includes"
  - "/css"
  - "/img"
  - "/js"
  metadata:
    _posts:
    - name: layout
      field:
        element: hidden
        value: post
    - name: title
      field:
        element: text
        label: Post title
        placeholder: Title
        alterable: true
    - name: subtitle
      field:
        element: textarea
        label: Subtitle
        placeholder: A description of your post.
        alterable: true
    - name: date
      field:
        element: text
        label: Date
        help: Enter date of post.
        placeholder: yyyy-mm-dd
        alterable: true
    - name: published
      field:
        element: checkbox
        label: Publish
        help: Check to publish post, uncheck to hide.
gems:
- jekyll-paginate
